@(backCall : Call, singOutCall : Call, playlistList : List[Playlist] )
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    @headHtml("Playlists")
    <body>
        @header("UTN FRBA TD II", backCall, singOutCall)
        
        <div class="row-fluid">
            <form class="form-horizontal" action="" method="">
                <div class="form-group">
                    <label for="search" class="col-sm-2 control-label">Titulo</label>    
                    <input type="text" class="form" id="name" placeholder="Titulo"/>
                    <input type="submit" class="btn-primary" value="Buscar" />
                </div>            
            </form>            
        </div>  
        
        <hr>
        
        <div class="container">
            <table class="table table-responsive">
                <tr>
                    <th>Playlist</th>                                    
                </tr>                
                @for(playlist <- playlistList){
                <tr>
                    <td><a href="@controllers.Playlists.getPlaylist(playlist.getId())">@playlist.getName()</a></td>                                                             
                </tr>              
                }
            </table>
        </div>

    </body>
</html>
